<!-- <ion-view view-title="PDI WHEEL OF FORTUNE!"> -->

<ion-view title='<img class="title-image" src="img/pdilogo.png" />'>

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">PDI WHEEL OF FORTUNE!</div>
      <div class="item item-body">
        <div>
          I've got a FEVER, and the only cure is more <b>COWBELL!</b>
        </div>
        <div id="luck"> <span style="color: red;">
            Spin the wheel !
        </span>
        </div>
      </div>
    </div>
    <audio src="http://dricardo1.github.io/pdi_wheel_app/myApp/www/lib/wheel_spin.mp3" id="mp3" preload="auto"></audio>


    
      <div class="game_base">
        <div class="wheel">
            <div class="wheel_spin" onclick="loadLuck();"></div>
        </div>
    </div>
    <br />
  <div class="list card">
      <div class="item item-divider">A Word From Our Sponsor</div>
      <div class="item item-body">
        <h4>&copy; 2015 Power Design, Inc. | Web Development by Don Ricardo JR</h4>
      </div>
  </div>
   </ion-content>
</ion-view>
