/* Empty. Add your own CSS if you like */
body {
            background-color: #f7f8fa !important;
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            font-weight: 600;
            font-size: 1.15em;

        }
.title-image {
	height: 35px;
    width:  200px;
	padding: 1%;
}
 body > ion-nav-bar > div:nth-child(3) > ion-header-bar {
	background-color: #c7091d !important;
}

body > ion-nav-view > ion-tabs > div {
	background-color: #C2BFB8 !important;
}

#luck, ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #c7091d !important;
}

 .item-divider {
    background-color: #C2BFB8;
    color: #222;
    
}

body > ion-nav-view > ion-tabs > ion-nav-view > ion-view > ion-content {
	background-color: #f0f0f0 !important;
}

.wheel_spin, .wheel_spin_on, .wheel_spin_stopping {
	margin: -5% auto;
}
.wheel_spin {
    background-image: url("../img/pdiwheel.png");
    background-repeat: no-repeat;
    background-position:center;
    width: 750px;
    height: 750px;
    
}
.wheel_spin_on {
    background-image: url("../img/pdiwheel.png");
    background-repeat: no-repeat;
    background-position:center;
    width: 750px;
    height: 750px;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.wheel_spin_stopping {
    background-image: url("../img/pdiwheel.png");
    background-repeat: no-repeat;
    background-position:center;
    width: 750px;
    height: 750px;
    
    -webkit-animation-name: slowdown;
    -webkit-animation-duration: 3500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes slowdown {
    0% {
        -webkit-transform: rotate(0deg);
    }
    13% {
        -webkit-transform: rotate(646deg);
    }
    25% {
        -webkit-transform: rotate(1093deg);
    }
    38% {
        -webkit-transform: rotate(1566deg);
    }
    50% {
        -webkit-transform: rotate(1931deg);
    }
    63% {
        -webkit-transform: rotate(2211deg);
    }
    75% {
        -webkit-transform: rotate(2394deg);
    }
    88% {
        -webkit-transform: rotate(2491deg);
    }
    100% {
        -webkit-transform: rotate(2520deg);
    }
}